[Unit]
Description=socks5代理-客户端ARLOOR
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/proxy
ExecStart=/usr/bin/java -jar /opt/proxy/connect-1.0-SNAPSHOT-jar-with-dependencies.jar -c /etc/proxy/client.json
LimitNOFILE=100000
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
